.react-datepicker-popper {
  width: 70%;
  aspect-ratio: 1/1;
  display: flex;
  top: 10px !important;
}

.react-datepicker {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-color: #e6e6e6;
}

.react-datepicker__month-container,
.react-datepicker__year--container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.react-datepicker__triangle {
  display: none;
}

.react-datepicker__header {
  font-size: 14px;
  background-color: #d1e1ff;
  border-bottom: #e6e6e6;
}

.react-datepicker__navigation ::before {
  border-color: #81aaf6;
}

.react-datepicker__month,
.react-datepicker__year {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.react-datepicker__month-wrapper {
  display: flex;
  flex-grow: 1;
}

.react-datepicker__year-wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: none;
}

.react-datepicker__month-text {
  width: 100%;
  height: 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  font-size: 1.4rem;
  cursor: pointer;
  margin: 0 !important;
}

.react-datepicker__year-text {
  display: flex !important;
  width: 100% !important;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  font-size: 1.4rem;
  cursor: pointer;
}

.react-datepicker__year-text--selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
  color: #ffffff;
  background-color: #d1e1ff !important;
}

.react-datepicker__month-text--keyboard-selected:not([aria-disabled='true']):hover,
.react-datepicker__year-text--selected:not([aria-disabled='true']):hover {
  background-color: #81aaf6 !important;
}
