@import 'tailwindcss';

@font-face {
  font-family: 'Pretendard';
  src:
    url('/fonts/Pretendard-Regular.subset.woff2') format('woff2'),
    url('/fonts/Pretendard-Regular.subset.woff') format('woff'),
    url('/fonts/Pretendard-Regular.subset.otf') format('truetype'),
    url('/fonts/Pretendard-Regular.subset.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-oliveGreen: #a1c377;
  --color-pastelLime: #e7f6d1;
  --color-vanillaCream: #feffe9;
  --color-pinkRed: #ffcbc4;
  --color-sunsetRose: #eb6060;
  --color-pointRed: #fe9588;
  --color-oceanBlue: #81aaf6;
  --color-lightBlue: #d1e1ff;
  --color-defaultGrey: #adadad;
  --color-strokeGray: #e6e6e6;
  --color-lightGray: #f6f6f6;
}

@layer utilities {
  .text-xs {
    font-size: 0.8rem;
  }
  .text-sm {
    font-size: 1.1rem;
  }
  .text-md {
    font-size: 1.4rem;
  }
  .text-lg {
    font-size: 1.8rem;
  }
  .text-xl {
    font-size: 2.2rem;
  }
}

:root {
  font-size: 62.5%;

  body {
    font-family: 'Pretendard', sans-serif;
    @apply m-0 mx-auto w-full max-w-[500px] h-full min-h-screen text-[1.6rem] shadow-md;
  }
}

.header-common {
  @apply w-full h-[43px] relative flex justify-center items-center bg-white border-b border-strokeGray font-bold;
}

.input-common {
  @apply flex-1 min-w-0 border border-strokeGray rounded-lg focus:outline-none focus:bg-lightGray px-3;
}

.profileImage-icon-common {
  @apply absolute -right-3 -bottom-3 w-[3.2rem] h-[3.3rem] rounded-full bg-strokeGray flex items-center justify-center;
}
